<div class="container col-sm-12 col-md-10 col-lg-8">
<h2 class="pt-3">Mission and Values</h2>

<p>Our mission is to be wholeheartedly committed to our clients and their families in being able to attain a financial peace of mind. We believe that sound investments are accomplished by means of an effective, well-structured, financial evaluation. Our team of specialists carefully accesses the market to make educated projections. We work closely with our clients to craft a perfect balance between steady investment and calculated risk, working hard to ensure our clients meet their financial objectives. Acting with the highest level of respect and professionalism, our team takes pride working in trust and accountability with our clients.
<br>
<br>
Our core values enable us to consistently deliver exemplary service to our clients. These four values include: successful lifetime performance, respect, integrity, and service excellence. 
</p>

<h4 class="serviceheader mainhead"><strong>Wealth Management Products and Services</strong></h4>
<h4 class="serviceheader">Lifestyle Planning</h4>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Estate</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Tax</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Retirement</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Cash Flow Analysis</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Wealth Accumulation</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Mortgage Service** We have a full time mortgage broker available to get you the best possible rate for your home or secondary property.<br>
<span class="listoverflow">** Mortgages by Referral</span>
</li>
<h4 class="serviceheader">Investment Products</h4>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Private Portfolio Management</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Stocks</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Bonds</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Mutual Funds</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
GICs</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Flow Through Shares<br>
<span class="listoverflow">Important information about flow-through limited partnerships is contained in their relevant Prospectus/Offering Memorandum.</span><br>
<span class="listoverflow">Please obtain a copy and read it carefully including the associated risks and tax consequences before investing.</span><br>
</li>
<h4 class="serviceheader mainhead"><strong>Insurance Products*</strong><h4>
<h4 class="serviceheader">Life Insurance*</h4>
It’s not for you, it is for those left behind. Most Canadians are under-insured and leave their
families, businesses and business partners with a financial short-fall. Solutions can be
created to meet your needs, often by reviewing what you already have in place.
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Mortgage/Line of Credit Coverage</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Replacement Income Needs</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Estate Needs</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Business Buy-Sell Arrangements</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Business Key Person Coverage or Office Overhead Coverage
</li>
<h4 class="serviceheader">Disability / Critical Illness Insurance*</h4>
To deal with the income and expenses of surviving, these Living Benefit products ensure that your income continues, whether you are involved in an accident or become ill, and cannot perform your duties. In addition to replacing income, a combination of coverage can also ensure that you have adequate funds to support increasing expenses relating to a catastrophic illness or accident.

<h4 class="serviceheader">Long Term Care Coverage*</h4>
More than ever, we want our retirement and aging years to be full of activity, comfort and a picture of our dreams. But at some point, we may require the care of a third party to have the best in our last years. Long Term Care coverage helps alleviate the expenses that go along with top care, either in your own home, or in the best facility available to you.

<h4 class="serviceheader">Travel Insurance*</h4>
Without proper coverage in place, a dream vacation can quickly become a nightmare. Travel Insurance allows us to plan our vacations with confidence. If something medical occurs, refunds can be obtained for a change in plans, and even greater, the cost of seeking medical help where our provincial Health Insurance is useless can be reimbursed.

<h4 class="serviceheader">Unique Products*</h4>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Independent Dental and Health Benefits</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
Personal Accident Plans</li>
<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
“Waiting List” coverage
</li>
<h4 class="serviceheader pb-4 pt-4">We’d be delighted to help you achieve your financial freedom.</h4>
</div>