// Place all the styles related to the ourservices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
    list-style: none;
    padding-left: 30px;
}
.serviceheader{
    color:  #A78019;
    margin-top: 20px;
}
.listoverflow{
    padding-left: 20px;
}
.mainhead{
    border-top: 3px #A78019 solid;
    padding-top: 10px;  
}